@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "magisterka";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(0.87 0.169 91.427);
  --color-primary-content: oklch(14% 0.004 49.25);
  --color-secondary: oklch(20% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(0.819 0.111 230.462);
  --color-accent-content: oklch(20% 0 0);
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(73% 0.237 25.331);
  --color-error-content: oklch(20% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui";


/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
