{% load static %}

<nav class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start pl-8">
    <a class="" href="{% url 'tmp_index' %}"><img src="{% static 'icons/logo_text.svg' %}" alt="Logo" class="h-8 "></a>
  </div>

  <div class="navbar-end space-x-4 pr-8">
    {% if user.is_authenticated %}
      <div class="join ml-2">
        <span class="btn btn-sm join-item btn-primary pointer-events-none">HTMX</span>
        <a href="{% url 'tmp_home' %}" class="btn btn-sm join-item btn-outline">Templates</a>
      </div>

      <a class="hover:text-accent" href="{% url 'htmx_home' %}">Strona Główna</a>

      <a
        class="hover:text-accent"
        href="{% url 'htmx_list' 'products' %}"
        hx-get="{% url 'htmx_list' 'products' %}"
        hx-target="#spa-content"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
        Produkty
      </a>

      <a
        class="hover:text-accent"
        href="{% url 'htmx_list' 'invoices' %}"
        hx-get="{% url 'htmx_list' 'invoices' %}"
        hx-target="#spa-content"
        hx-swap="innerHTML"
        hx-push-url="true"

      >
        Faktury
      </a>

      <a
        class="hover:text-accent"
        href="{% url 'htmx_list' 'clients' %}"
        hx-get="{% url 'htmx_list' 'clients' %}"
        hx-target="#spa-content"
        hx-swap="innerHTML"
        hx-push-url="true"
      >
        Klienci
      </a>

      <a class="hover:text-accent" href="{% url 'tmp_choose_company' %}">Firmy</a>
      <form method="post" action="{% url 'tmp_logout' %}">
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit"><p>Wyloguj się</p></button>
      </form>
    {% else %}
      <div>
        <a class="btn btn-primary" href="{% url 'tmp_login' %}"><p>Zaloguj się</p></a>
        <a class="btn btn-accent" href="{% url 'tmp_register' %}">Zarejestruj się</a>
      </div>
    {% endif %}
  </div>
</nav>
