     <div class="card bg-base-100 shadow-lg border border-base-300 rounded-box w-full flex flex-col">
       <div class="card-title text-center w-full pt-4 pl-6 pb-4 font-semibold text-lg">Ostatnie faktury</div>
       <div class="grid grid-cols-3 px-6 pt-4 font-bold text-gray-800 border-t border-gray-300">
         <p class="text-left">Klient</p>
         <p class="text-center">Numer</p>
         <p class="text-right">Wartość</p>
       </div>

       <!-- Wiersze z fakturami -->
       <div class="card-body p-6 flex-grow flex flex-col">
         {% if invoices %}
           {% for invoice in invoices %}
           <div class="grid grid-cols-3 items-center py-2 border-b border-gray-200 last:border-b-0">
             <div class="text-left text-sm text-gray-700">
               {{ invoice.client }}
             </div>

             <div class="text-center text-l text-gray-800">
               {{ invoice.number }}
             </div>

             <div class="text-right text-sm font-bold text-gray-900">
               {{ invoice.total_gross }} zł
             </div>
           </div>
           {% endfor %}
         {% else %}
           <div class="flex items-center justify-center flex-grow">
             <p class="text-gray-500 text-center text-lg">
               Brak faktur
             </p>
           </div>
         {% endif %}
       </div>
     </div>
