<div class="grid grid-cols-5 px-6 pt-4 font-bold text-gray-800 border-t border-gray-300">
  <p class="text-left pl-4">
    <a
      href="?sort={% if request.GET.sort == 'name' %}-name{% else %}name{% endif %}"
      hx-get="?sort={% if request.GET.sort == 'name' %}-name{% else %}name{% endif %}"
      hx-target="#spa-content"
      hx-swap="innerHTML"
      hx-push-url="true"
      class="hover:underline"
    >      Nazwa
      {% if request.GET.sort == 'name' %}
        <span class="text-blue-600">&#8593;</span> <!-- Strzałka w górę -->
      {% elif request.GET.sort == '-name' %}
        <span class="text-blue-600">&#8595;</span> <!-- Strzałka w dół -->
      {% else %}
        <span class="text-gray-400">&#8597;</span> <!-- Neutralna strzałka (domyślne) -->
      {% endif %}
    </a>
  </p>
  <p class="text-left">Opis</p>
  <p class="text-center">
    <a
      href="?sort={% if request.GET.sort == 'unit_type' %}-unit_type{% else %}unit_type{% endif %}"
      hx-get="?sort={% if request.GET.sort == 'unit_type' %}-unit_type{% else %}unit_type{% endif %}"
      hx-target="#spa-content"
      hx-swap="innerHTML"
      hx-push-url="true"
      class="hover:underline"
    >      Jednostka
      {% if request.GET.sort == 'unit_type' %}
        <span class="text-blue-600">&#8593;</span>
      {% elif request.GET.sort == '-unit_type' %}
        <span class="text-blue-600">&#8595;</span>
      {% else %}
        <span class="text-gray-400">&#8597;</span>
      {% endif %}
    </a>
  </p>
  <p class="text-right">
    <a
      href="?sort={% if request.GET.sort == 'net_price' %}-net_price{% else %}net_price{% endif %}"
      hx-get="?sort={% if request.GET.sort == 'net_price' %}-net_price{% else %}net_price{% endif %}"
      hx-target="#spa-content"
      hx-swap="innerHTML"
      hx-push-url="true"
      class="hover:underline"
    >      Cena netto
      {% if request.GET.sort == 'net_price' %}
        <span class="text-blue-600">&#8593;</span>
      {% elif request.GET.sort == '-net_price' %}
        <span class="text-blue-600">&#8595;</span>
      {% else %}
        <span class="text-gray-400">&#8597;</span>
      {% endif %}
    </a>
  </p>
  <p class="text-right">
    <a
      href="?sort={% if request.GET.sort == 'tax_rate' %}-tax_rate{% else %}tax_rate{% endif %}"
      hx-get="?sort={% if request.GET.sort == 'tax_rate' %}-tax_rate{% else %}tax_rate{% endif %}"
      hx-target="#spa-content"
      hx-swap="innerHTML"
      hx-push-url="true"
      class="hover:underline"
    >      Stawka VAT
      {% if request.GET.sort == 'tax_rate' %}
        <span class="text-blue-600">&#8593;</span>
      {% elif request.GET.sort == '-tax_rate' %}
        <span class="text-blue-600">&#8595;</span>
      {% else %}
        <span class="text-gray-400">&#8597;</span>
      {% endif %}
    </a>
  </p>
</div>
