{% extends "frontend_templates/base.html" %}

{% block title %} Klienci {% endblock %}

{% block content %}
<div class="flex items-center justify-between mb-4">
  <h2 class="text-3xl font-bold">Klienci</h2>
  <form method="get" class="flex-grow mx-4 max-w-xs">
    {% if request.GET.sort %}
      <input type="hidden" name="sort" value="{{ request.GET.sort }}">
    {% endif %}

    <div class="join w-full">
      <input type="text"
             name="search"
             class="input input-bordered join-item w-full"
             placeholder="Szukaj i wciśnij Enter..."
             value="{{ request.GET.search|default:'' }}">
      <button type="submit" class="btn btn-primary join-item">Szukaj</button>
    </div>
  </form>
  <a href="{% url 'tmp_client_add' %}" class="btn btn-primary btn-md shadow-md">
    Dodaj klienta
  </a>
</div>

<div class="card bg-base-100 shadow-lg border border-base-300 rounded-box">
  <div class="card-title text-center w-full pt-4 pl-10 pb-4 font-semibold text-lg">
    Lista klientów
    <a
      href="?sort=-id"
      class="btn btn-sm bg-red-500 text-white hover:bg-red-600 ml-4">
      Resetuj filtry
    </a>
  </div>

  <!-- Nagłówki kolumn -->
  <div class="grid grid-cols-5 px-6 pt-4 font-bold text-gray-800 border-t border-gray-300">
    <p class="text-left pl-4">
      <a href="?sort={% if request.GET.sort == 'full_name_or_company' %}-full_name_or_company{% else %}full_name_or_company{% endif %}"
        class="hover:underline">
        Nazwa klienta
        {% if request.GET.sort == 'full_name_or_company' %}
          <span class="text-blue-600">&#8593;</span>
        {% elif request.GET.sort == '-full_name_or_company' %}
          <span class="text-blue-600">&#8595;</span>
        {% else %}
          <span class="text-gray-400">&#8597;</span>
        {% endif %}
      </a>
    </p>
    <p class="text-left">NIP</p>
    <p class="text-left">REGON</p>
    <p class="text-left">
      <a href="?sort={% if request.GET.sort == 'email' %}-email{% else %}email{% endif %}" class="hover:underline">
        Email
        {% if request.GET.sort == 'email' %}
          <span class="text-blue-600">&#8593;</span>
        {% elif request.GET.sort == '-email' %}
          <span class="text-blue-600">&#8595;</span>
        {% else %}
          <span class="text-gray-400">&#8597;</span>
        {% endif %}
      </a>
    </p>
    <p class="text-left">Telefon</p>
  </div>

  <!-- Lista klientów -->
  <div class="card-body p-6 gap-0">
    {% for client in clients %}
    <div class="grid grid-cols-5 items-center border-b border-gray-200 hover:bg-base-300 last:border-b-0 py-4">
      <!-- Nazwa firmy / Imię i nazwisko -->
      <div class="text-left text-sm font-semibold pl-4">
        {% if client.client_company_name %}
        {{ client.client_company_name }}
        {% else %}
        {{ client.name }} {{ client.surname }}
        {% endif %}
      </div>
      <!-- NIP -->
      <div class="text-left text-sm text-gray-700">
        {{ client.nip }}
      </div>
      <!-- REGON -->
      <div class="text-left text-sm text-gray-700">
        {{ client.regon }}
      </div>
      <!-- Email -->
      <div class="text-left text-sm text-gray-700">
        {{ client.email }}
      </div>
      <!-- Telefon -->
      <div class="text-left text-sm text-gray-700">
        {{ client.phone_number }}
      </div>
    </div>

    {% empty %}
    <!-- Gdy brak klientów -->
    <div class="text-gray-500 text-center py-6">
      Brak klientów do wyświetlenia.
    </div>
    {% endfor %}
  </div>
</div>

<!-- Pagination -->
{% if is_paginated %}
<div class="flex justify-center mt-6">
  <div class="btn-group">
    <!-- Button prev -->
    {% if page_obj.has_previous %}
      <a href="?sort={{ request.GET.sort|default:'-id' }}&page={{ page_obj.previous_page_number }}" class="btn btn-sm bg-neutral text-white hover:bg-neutral-focus">← Poprzednia</a>
    {% else %}
      <button class="btn btn-sm btn-disabled">← Poprzednia</button>
    {% endif %}

    <!-- Pagination -->
    {% for page_number in page_obj.paginator.page_range %}
      {% if page_number == page_obj.number %}
        <button class="btn btn-primary btn-md shadow-md hover:bg-primary">{{ page_number }}</button>
      {% else %}
        <a href="?sort={{ request.GET.sort|default:'-id' }}&page={{ page_number }}" class="btn btn-neutral btn-sm shadow-md hover:bg-accent hover:border-accent">{{ page_number }}</a>
      {% endif %}
    {% endfor %}

    <!-- Button next -->
    {% if page_obj.has_next %}
      <a href="?sort={{ request.GET.sort|default:'-id' }}&page={{ page_obj.next_page_number }}" class="btn btn-neutral btn-sm text-white hover:bg-accent hover:border-accent">Następna →</a>
    {% else %}
      <button class="btn btn-sm btn-disabled">Następna →</button>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}
