{% extends "frontend_templates/base.html" %}
{% block title %}Fakturowanie Pro{% endblock %}
{% block content %}
<div class="grid">
        <section>
          <hgroup>
            <h2>Wystawiaj faktury po swojemu</h2>
            <h3>szybko, łatwo i bez stresu</h3>
          </hgroup>
          <p>Fakturowanie Pro to intuicyjne narzędzie do zarządzania Twoimi fakturami. Idealne dla freelancerów, małych firm i przedsiębiorców.</p>
          <figure>
            <img src="https://images.unsplash.com/photo-1556155092-490a1ba16284?ixlib=rb-4.0.3&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80" alt="Laptop z aplikacją do faktur">
          </figure>

          <h3>Działaj szybciej:</h3>
          <p>
            Generowanie faktur PDF<br>
            Wykresy przychodów<br>
            Historia transakcji<br>
            Możliwość eksportu do Excel<br>
          </p>
        </section>
</div>
{% endblock %}
