{% extends "frontend_templates/base.html" %}
{% load custom_tags %}
{% block title %} Faktury {% endblock %}

{% block content %}
<div class="flex items-center justify-between mb-4">
  <h2 class="text-3xl font-bold mb-4">Faktury</h2>
  <a href="{% url 'tmp_invoice_add' %}" class="btn btn-primary btn-md shadow-md">
    Dodaj fakturę
  </a>
</div>

<div class="card bg-base-100 shadow-lg border border-base-300 rounded-box">
  <div class="card-title text-center w-full pt-4 pl-6 pb-4 font-semibold text-lg">Lista faktur</div>

  <div class="overflow-x-auto">
    <table class="table-auto w-full text-left border-collapse border border-gray-300">
      <!-- Nagłówki tabeli -->
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 font-bold">
            <a href="?sort=number&order={% toggle_sort sort order 'number' %}">
              Numer {% sort_arrow sort order 'number' %}
            </a>
          </th>
          <th class="px-4 py-2 font-bold">Klient</th>
          <th class="px-4 py-2 font-bold">
            <a href="?sort=issue_date&order={% toggle_sort sort order 'issue_date' %}">
              Data wystawienia {% sort_arrow sort order 'issue_date' %}
            </a>
          </th>
          <th class="px-4 py-2 font-bold text-center">Status</th>
          <th class="px-4 py-2 font-bold text-right">
            <a href="?sort=total_net&order={% toggle_sort sort order 'total_net' %}">
              Kwota netto {% sort_arrow sort order 'total_net' %}
            </a>
          </th>
          <th class="px-4 py-2 font-bold text-right">Kwota brutto</th>
        </tr>
      </thead>

      <!-- Wiersze tabeli -->
      <tbody>
        {% for invoice in invoices %}
        <tr class="border-t border-gray-300">
          <!-- Numer -->
          <td class="px-4 py-2 text-sm font-semibold">
            {{ invoice.number }}
          </td>

          <!-- Klient -->
          <td class="px-4 py-2 text-sm text-gray-700">
            {{ invoice.client }}
          </td>

          <!-- Data wystawienia -->
          <td class="px-4 py-2 text-sm text-gray-700">
            {{ invoice.issue_date|date:'d.m.Y' }}
          </td>

          <!-- Status -->
          <td class="px-4 py-2 text-sm text-center">
            {% if invoice.paid %}
            <span class="text-green-600 font-semibold">Opłacona</span>
            {% else %}
            <span class="text-red-600 font-semibold">Nieopłacona</span>
            {% endif %}
          </td>

          <!-- Kwota netto -->
          <td class="px-4 py-2 text-sm text-right text-gray-900 font-bold">
            {{ invoice.total_net }} zł
          </td>

          <!-- Kwota brutto -->
          <td class="px-4 py-2 text-sm text-right text-gray-900 font-bold">
            {{ invoice.total_gross }} zł
          </td>
        </tr>
        {% empty %}
        <!-- Gdy brak faktur -->
        <tr>
          <td colspan="6" class="px-4 py-6 text-gray-500 text-center">
            Brak faktur do wyświetlenia
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<!-- Pagination -->
{% if is_paginated %}
<div class="flex justify-center mt-6">
  <div class="btn-group">
    <!-- Button prev -->
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm bg-neutral text-white hover:bg-neutral-focus">← Poprzednia</a>
    {% else %}
      <button class="btn btn-sm btn-disabled">← Poprzednia</button>
    {% endif %}

    <!-- Pagination -->
    {% for page_number in page_obj.paginator.page_range %}
      {% if page_number == page_obj.number %}
        <button class="btn btn-sm bg-primary text-white cursor-default">{{ page_number }}</button>
      {% else %}
        <a href="?page={{ page_number }}" class="btn btn-sm bg-base-300 text-gray-800 hover:bg-primary hover:text-white">{{ page_number }}</a>
      {% endif %}
    {% endfor %}

    <!-- Button next -->
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm bg-neutral text-white hover:bg-neutral-focus">Następna →</a>
    {% else %}
      <button class="btn btn-sm btn-disabled">Następna →</button>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
