{% extends "frontend_templates/base.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}
    <main class="container">
      <div class="grid">
        <section>
          <hgroup>
            <h2>Zaloguj się</h2>
            <h3>Uzyskaj dostęp do swojego konta</h3>
          </hgroup>
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
            <button type="submit">Zaloguj się</button>
          </form>
        </section>
      </div>
    </main>
{% endblock %}
