{% extends "frontend_templates/base.html" %}

{% block title %}Dodaj Produkt{% endblock %}

{% block content %}
<div class="flex items-center justify-between mb-4">
  <h2 class="text-3xl font-bold">Produkty</h2>
  <a href="{% url 'tmp_products' %}" class="btn btn-error btn-md shadow-md">
    Wróć do listy produktów
  </a>
</div>

<div class="card bg-base-100 shadow-lg border border-base-300 rounded-box p-6">
  <form method="post">
    {% csrf_token %}
    
    <!-- Formularz -->
    <div class="grid gap-4">
      <!-- Renderowanie pól formularza -->
      {{ form.as_table }}
    </div>
    
    <!-- Przycisk 'Dodaj produkt' -->
    <div class="mt-6">
      <button type="submit" class="btn btn-primary btn-md shadow-md">
        {% if view.object.pk %}
          Zapisz zmiany
        {% else %}
          Dodaj produkt
        {% endif %}
      </button>
    </div>
  </form>
</div>
{% endblock %}
